html {
    color: white;
    background-color: black;
    font-family: Arial;
    overflow: hidden;
    height: 100%;
}
body {
    padding: 0;
    margin: 0;
    height: 100%;
}
input[type=checkbox], label {
    cursor: pointer;
}
input[type=range] {
    width: 100%;
}
canvas {
    display: block;
    position: absolute;
    top:  0;
    left: 0;
    width:  100%;
    height: 100%;
}

button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    border-radius: 3px;
    cursor: pointer;
}
button.active-mode {
    background-color: #4CAF50;
    color: white;
    border-color: #3e8e41;
}


fieldset {
    border: 1px solid #555;
    border-radius: 4px;
    padding: 8px;
    margin: 0;
}
legend {
    padding: 0 5px;
    font-weight: bold;
}
fieldset label {
    display: inline-block;
    width: 55px;
    font-size: 12px;
}
fieldset input[type=number] {
    width: 60px;
    margin-bottom: 4px;
    background-color: #ddd;
    border: 1px solid #aaa;
    border-radius: 2px;
}


#canvas-div { 
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

@media (orientation: landscape) {
    #canvas-div {
        display: block;
        width:   100%;
        height: 100%;
    }
}
@media (orientation: portrait) {
    #canvas-div {
        width:  100%;
        height: 100%;
    }
}